---
import IndexLayout from '../../layouts/IndexLayout.astro'
import PositionsOpenedTable from '../../components/positions/PositionsOpenedTable.vue'
import PositionsClosedTable from '../../components/positions/PositionsClosedTable.vue'
---

<IndexLayout>
  <header>
    <h1>Opened positions</h1>
  </header>
  <PositionsOpenedTable client:load />
  <header class="mt-12">
    <h1>Closed positions</h1>
  </header>
  <PositionsClosedTable client:load />
</IndexLayout>
