---
import IndexLayout from '../../layouts/IndexLayout.astro'
import MarketSymbolDashboard from '../../components/dashboards/MarketSymbolDashboard.vue'

const symbolParam: string | undefined = Astro.params.symbol

if (!symbolParam) {
  throw new Error('Symbol is required')
}

const symbol: string = symbolParam as string
---

<IndexLayout>
  <header>
    <h1>Market - {symbol.toUpperCase()}</h1>
  </header>
  <MarketSymbolDashboard symbol={symbol} client:load />
</IndexLayout>
