---
import IndexLayout from '../../layouts/IndexLayout.astro'
import type { TradingMode } from '../../types/trading-mode'
import TradingModeSymbolDashboard from '../../components/dashboards/TradingModeSymbolDashboard.vue'

const tradingModeParam: string | undefined = Astro.params.tradingMode

if (!tradingModeParam || !['futures', 'spot'].includes(tradingModeParam)) {
  throw new Error('Invalid trading mode: ' + tradingModeParam)
}
const tradingMode: TradingMode = tradingModeParam as TradingMode

const symbolParam: string | undefined = Astro.params.symbol

if (!symbolParam) {
  throw new Error('Symbol is required')
}

const symbol: string = symbolParam as string
---

<IndexLayout>
  <header>
    <h1>
      {tradingMode.charAt(0).toUpperCase() + tradingMode.slice(1)}
      trading - {symbol.toUpperCase()}
    </h1>
    <TradingModeSymbolDashboard
      symbol={symbol}
      tradingMode={tradingMode}
      client:load
    />
  </header>
</IndexLayout>
