---
import IndexLayout from '../../layouts/IndexLayout.astro'
import Dashboard from '../../components/dashboard/Dashboard.vue'
import type { TradingMode } from '../../types/trading-mode'

const tradingModeParam: string | undefined = Astro.params.tradingMode

if (!tradingModeParam || !['futures', 'spot'].includes(tradingModeParam)) {
  throw new Error('Invalid trading mode: ' + tradingModeParam)
}

const tradingMode: TradingMode = tradingModeParam as TradingMode
---

<IndexLayout>
  <header>
    <h1>Dashboard</h1>
  </header>
  <Dashboard tradingMode={tradingMode} client:load />
</IndexLayout>
