---
import IndexLayout from '../../layouts/IndexLayout.astro'
import Dashboard from '../../components/dashboard/Dashboard.vue'
import { TradingMode } from '../../types/trading-mode'

const tradingMode: TradingMode = Astro.params.tradingMode
---

<IndexLayout>
  <header>
    <h1>Dashboard</h1>
  </header>
  <Dashboard tradingMode={tradingMode} client:load />
</IndexLayout>
