---
import IndexLayout from '../../layouts/IndexLayout.astro'
import TradingModeDashboard from '../../components/dashboard/TradingModeDashboard.vue'
import type { TradingMode } from '../../types/trading-mode'

const tradingModeParam: string | undefined = Astro.params.tradingMode

if (!tradingModeParam || !['futures', 'spot'].includes(tradingModeParam)) {
  throw new Error('Invalid trading mode: ' + tradingModeParam)
}

const tradingMode: TradingMode = tradingModeParam as TradingMode
---

<IndexLayout>
  <header>
    <h1>
      {tradingMode.charAt(0).toUpperCase() + tradingMode.slice(1)}
      trading
    </h1>
  </header>
  <TradingModeDashboard tradingMode={tradingMode} client:load />
</IndexLayout>
