---
import IndexLayout from '../layouts/IndexLayout.astro'
import AnalysisSignals from '../components/analysis/AnalysisSignals.vue'
---

<IndexLayout>
  <header>
    <h1>Analysis</h1>
  </header>
  <AnalysisSignals client:load />
</IndexLayout>
