---
import IndexLayout from '../layouts/IndexLayout.astro'
import AnalysisDaily from '../components/analysis/AnalysisDaily.vue'
---

<IndexLayout>
  <header>
    <h1>Analysis</h1>
  </header>
  <AnalysisDaily client:load />
</IndexLayout>
