---
import IndexLayout from '../layouts/IndexLayout.astro'
import HomeDashboard from '../components/dashboards/HomeDashboard.vue'
---

<IndexLayout>
  <header>
    <h1>Trading bot</h1>
  </header>
  <HomeDashboard client:load />
</IndexLayout>
