---
import IndexLayout from '../layouts/IndexLayout.astro'
import Dashboard from '../components/dashboard/Dashboard.vue'
---

<IndexLayout>
  <header>
    <h1
      class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white"
    >
      Dashboard
    </h1>
  </header>
  <Dashboard client:load />
</IndexLayout>
