---
import IndexLayout from '../layouts/IndexLayout.astro'
import LogsTable from '../components/LogsTable.vue'
---

<IndexLayout>
  <header>
    <h1>Logs</h1>
  </header>
  <LogsTable client:load />
</IndexLayout>
