---
import IndexLayout from '../layouts/IndexLayout.astro'
import MarketDashboard from '../components/market/MarketDashboard.vue'
---

<IndexLayout>
  <header>
    <h1>Market</h1>
  </header>
  <MarketDashboard client:load />
</IndexLayout>
