---
import Layout from '../layouts/Layout.astro'
import OrderList from '../components/domain/orders/OrderList.vue'
---

<Layout title="Orders - Trading Bot">
  <div class="space-y-6">
    <header class="flex justify-between items-end">
      <div>
        <h1>Orders</h1>
        <p class="text-zinc-400 mt-1">History of orders made by the bot.</p>
      </div>
    </header>

    <section>
      <OrderList client:load />
    </section>
  </div>
</Layout>
