---
import Layout from '../layouts/Layout.astro'
import PositionList from '../components/domain/positions/PositionList.vue'
---

<Layout title="Positions - Trading Bot">
  <div class="space-y-6">
    <header class="flex justify-between items-end">
      <div>
        <h1>Positions</h1>
        <p class="text-zinc-400 mt-1">History of positions made by the bot.</p>
      </div>
    </header>

    <section>
      <PositionList client:load />
    </section>
  </div>
</Layout>
