---
import IndexLayout from '../layouts/IndexLayout.astro'
import PositionsTable from '../components/PositionsTable.vue'
import type { Position } from '../types'
import { getPositions } from '../api'

let positions: Position[] = []
try {
  positions = await getPositions()
} catch (error: unknown) {
  //TODO: Show error message
}
---

<IndexLayout>
  <header>
    <h1
      class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white"
    >
      Positions
    </h1>
  </header>
  <PositionsTable positions={positions} client:load />
</IndexLayout>
