---
import IndexLayout from '../layouts/IndexLayout.astro'
import PositionsTable from '../components/positions/PositionsTable.vue'
---

<IndexLayout>
  <header>
    <h1>Closed positions</h1>
  </header>
  <PositionsTable client:load />
</IndexLayout>
