---
import IndexLayout from '../layouts/IndexLayout.astro'
import Logs from '../components/Logs.vue'
import type { Log } from '../types'
import { getLogs } from '../api'

const logs: Log[] = await getLogs()
---

<IndexLayout>
  <header>
    <h1
      class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white"
    >
      Status
    </h1>
  </header>
  <Logs logs={logs} client:load />
</IndexLayout>
