---
import { Image } from 'astro:assets'
---

<nav class="dark:bg-gray-800 dark:border-gray-700">
  <div
    class="container flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <Image src="/logo.webp" alt="Trading bot logo" width="50" height="50" />
    <div class="block w-auto">
      <ul
        class="flex font-medium rounded-lg bg-gray-50 space-x-8 rtl:space-x-reverse flex-row bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700"
      >
        <li>
          <a href="/" class="block dark:text-white dark:hover:text-blue-500">
            Home
          </a>
        </li>
        <li>
          <a
            href="/logs"
            class="block dark:text-white dark:hover:text-blue-500"
          >
            Logs
          </a>
        </li>
        <li>
          <a
            href="/positions"
            class="block dark:text-white dark:hover:text-blue-500"
          >
            Positions
          </a>
        </li>
        <li>
          <a
            href="/markets"
            class="block dark:text-white dark:hover:text-blue-500"
          >
            Markets
          </a>
        </li>
        <li>
          <a
            href="/predictions"
            class="block dark:text-white dark:hover:text-blue-500"
          >
            Predictions
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
