---
import Navbar from '../components/Navbar.astro'
import '../styles/global.css'
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Marc Pont" />

    <link rel="canonical" href="https://mpont91.trading.com/" />

    <meta name="description" content="Trading bot" />
    <meta property="og:title" content="Trading bot" />
    <meta property="og:description" content="Trading bot" />
    <meta
      property="og:image"
      content="https://mpont91.trading.com/logo.webp"
    />
    <meta property="og:url" content="https://mpont91.trading.com/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Trading bot" />
    <meta name="twitter:description" content="Trading bot" />
    <meta
      name="twitter:image"
      content="https://mpont91.trading.com/logo.webp"
    />
    <meta name="theme-color" content="#000000" />

    <title>Trading bot</title>
  </head>
  <body>
    <Navbar />
    <div class="container mx-auto mt-4 p-4">
      <slot />
    </div>
  </body>
</html>
